body{
 background: #eee;
}
.gameLayout{


}
.game{
  margin-top: 10vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  .board-row:after {
  clear: both;
  content: "";
  display: table;
}
}

.square {
  float: left;
  font-size: 17px;
  font-weight: bold;
  line-height: 15px;
  height: 15px;
  padding: 7px;
  text-align: center;
  width: 15px;
}

.living{
  background:purple;
}
.survivor {
  background: black;
}
