body {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(82,255,0,.29);

  button {
    color: white;
    font-weight: bold;
    background: #777;
  }

  h2,
  p {
    width: 80px;
    color: white;
    font-weight: bold;
    background: #777;
  }

  h2 {
    display: inline;
  }

  span {
    background: #777;
    color: white;
    padding: 5px;
    font-weight: bold;
  }

  .Arena {
    min-width: 500px;
  }

  .brick {
    float: left;
    width: 20px;
    height: 20px;
    background: url("https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?h=350&auto=compress&cs=tinysrgb");
  }

  .space {
    float: left;
    width: 20px;
    height: 20px;
    background: rgb(136,233,28);
  }

  .player {
    float: left;
    width: 16px;
    height: 16px;
    margin: 2px;
    background: rgb(0,144,164);
    outline: 2px solid rgb(136,233,28);
  }

  .enemy {
    float: left;
    width: 16px;
    height: 16px;
    margin: 2px;
    background: rgba(157,19,19,.74);
    outline: 2px solid rgb(136,233,28);
  }

  .life {
    float: left;
    width: 20px;
    height: 20px;
    background: rgb(243,247,33);
    border-radius: 4px;
  }

  .weapon {
    float: left;
    width: 20px;
    height: 20px;
    background: rgb(27,0,249);
  }
}
